.main-nav-mobile {
	.v-navigation-drawer {
		padding-top: $menuMobileHeight;
	}

	.v-list {
		padding: 0;

		&__group{
			.v-list__tile {
				padding: 0 16px;

				&:hover {
					background: darken(map-get($colors, lite_grey), 10%);
				}
			}
		}

		&__tile {
			padding: 0;

			&__content, &__title {
				height: auto;
				overflow: visible;
			}
		}
	}

	a {
		display: block;
		font-size: 16px;
		padding: 8px 0 8px 16px;
		text-decoration: none;

		&:hover {
			background: darken(map-get($colors, lite_grey), 10%);
		}
	}

	&.dark {
		.v-navigation-drawer {
			background: map-get($colors, primary);
			padding-top: 20px;
		}

		.logo {
			&--text {
				color: white;
				font-size: 20px;
				font-weight: 300;
				margin-left: 7px;
				margin-top: 10px;
			}
		}

		a {
			color: #fff;

			&.active {
				background: rgba(map-get($colors, secondary), 0.5);

				&:hover {
					background: rgba(map-get($colors, secondary), 0.6);
				}
			}

			&:hover {
				background: lighten(map-get($colors, primary), 7%);
			}
		}
	}
}
