.forgot-password {
	.header {
		font-size: 28px;
		justify-content: center;
		text-align: center;
	}

	.detail-links {
		@include onboardDetails();

		@include breakpoint(xs) {
			justify-content: center;
		}
	}

	.email-success {
		padding: 20px 0;

		.v-icon {
			font-size: 108px;
		}
	}
}
